:root {
    --black: #1E1E1E;
    --primary: #FF900E;
    --lightgray: #FF900E1A;
    --primary-font: 'Work Sans', sans-serif;
}

body {
    font-family: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1100px;
}

.primary {
    background-color: var(--primary);
    width: 180px;
    height: 64px;
    color: #FFFFFF;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 20px;
}

.primary-color {
    color: var(--primary);
    width: 180px;
    height: 64px;
    font-weight: 700;
    font-size: 45px;
}

/* navbar styles begin */
nav {
    display: flex;
    /* width: 1150; */
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    max-width: 1100px;
    height: 80px;
    margin: 0 auto;
    padding: 0 25px;
    background-color: var(--lightgray);
    overflow: hidden;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

nav>ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav>ul>li {
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
}

/* nav styles end */
/* banner style begin */
.banner {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--lightgray);

}

.banner-content {
    text-align: center;
    margin-top: 102px;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 30px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}

.banner img {
    height: 500px;
    width: 1100px;
    margin-bottom: 50px;
    grid-row: span 2;
}

/* banner styles end */

/* about style begin */
.about {
    display: flex;
    gap: 30px;
    align-items: center;
    background-color: white;
    margin: 0 auto;
}

.about-image {
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}

.about-image img {
    width: 200px;
    height: 200px;
}

.about-content {
    text-align: left;
}

.about-title {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 45px;
}

.about-description {
    margin-bottom: 32px;
}

/* about styles end */

/* experienced styles begin */
.experience {
    margin-top: 100px;
    display: flex;
    background-color: white;
}

.experience-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

/* experienced styles end */

/* fact styles */
.fact {
    margin-top: 150px;
    text-align: left;
    justify-content: center;
}

.transition {
    display: flex;
    height: 200px;
    width: 200px;
    background-color: rgb(239, 8, 8);
    color: lightgreen line-height:30px;
    text-align: center;
    transition: width 3s, color 3s, font-size 3s, transform 3s;
    /* transition-property: width;
    transition-duration: 3s;
    /* transition-delay: 1s; */
    /* transition-timing-function: ease-in; */

}

.transition:hover {
    width: 300px;
    color: #FF900E;
    font-size: 20px;
    transform: rotate(360deg);
}

/* experienced styles end */

/* sponor styles begin */
.sponserd {
    margin-top: 150px;
    text-align: center;
}

.sponsored-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}
.sponsored-image{
    gap: 20px;
    justify-content: space-between;
}


/* sponor styles end */
/* footer styles begin */
.footer{
    margin-top: 30px;
    text-align: center;
    background-color: var(--lightgray);
    height: 50px;
    align-items: center;
}
/* footer styles end */